# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Most commonly used languages for data science:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy
6. Scikit-Learn
7. TensorFlow
8. Matplotlib

Development environment open source tools used in data science:

|Data Science Tools|
|------------------|
|Rstudio|
|Apache Spark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [8]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [9]:
mins = 200
mins_in_hours = mins / 60
print('%.2f' %mins_in_hours, 'hours')
# This will convert 200 minutes to hours by diving by 60

3.33 hours

<b>Objectives:</b>

<ul>
    <li> Python</li>
    <li> R</li>
    <li> Java</li>
    <li> JS</li>
    <li> C/C++</li>
    <li> SQL</li>
    <li> Scala</li>   
</ul>

## Author 
Carlos H. Ramirez